@charset "utf-8";
body {
	margin: 0;
	font-size: 14px;
	background-color: #D9B4B4;
}
.header {
	width: 1000px;
	background-color: #321011;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	text-shadow: 0px 0px;
	color: #8585D1;
}
.main {
	width: 1000px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgba(78,0,1,1.00);
}
.main .anvbar {
	background-color: #361515;
	width: 200px;
	height: 500px;
	float: left;


}
.main .anvbar a {
	display: block;
	width: 70%;
	color: #FFFFFF;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	line-height: 40px;
	margin-top: 20%;
	text-decoration: none;
	border-radius: 10px;
	background-color: #5B3A04;
}
.main .anvbar a:hover  {
	background-color: #F3CE91;
}


.main .section {
	width: 780px;
	height: 500px;
	background-color: #715A5C;
	float: left;
	margin-left: 20px;
}
.main .section iframe {
	width: 100%;
	border: none;
	height: 100%;
	background-color: rgba(82,9,10,1.00);
}

.footer {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
	background-color: rgba(85,28,29,1.00);
}
